/* DIV DIV DIV DIV DIV DIV DIV DIV DIV DIV DIV DIV DIV DIV DIV DIV DIV DIV DIV DIV DIV DIV DIV DIV DIV DIV */

div.site
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;



    cursor:default;
    width: 1024px;
    height: 660px;
    margin: auto;
    padding: 0;
    align-content: center;
}
a
{
    outline: 0;
}

td.article
{
    font-family: verdana, monospace;
    font-size: 14px;

}

div.hello
{
    height:18px;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    position: absolute;
    top:0;
    right: 1px;
}

div.menu
{
    width: 1024px;
    padding: 0;
    border-collapse: collapse;
    margin: 0;
    height: 10px;
}
div.ajax
{
    width: 300px;
    margin-top: 16px;
    margin-right: 44px;
    border-collapse: collapse;
    height: 30px;
    position: relative;
    float: right;
}


div.spacer
{
    position: relative;
    height: 1px;
    width: 1003px;
    z-index: 100;
}

div.body
{
    z-index: 99;
    border-radius: 15px;
    border: 2px solid #000000;
    margin: 20px;
    width: 964px;
    height: 540px;
    padding: 0 20px 0 0;
    background-color: white;
    position: relative;
    float:left;
    overflow: auto;

}

div.innerbody
{
    z-index: 99;
    border-radius: 15px;
    margin: 2px;
    width: 964px;
    height: 536px;
    padding: 0 10px;
    background-color: white;
    position: relative;
    float:left;
    overflow: auto;

}


div.about
{
    z-index: 99;
    border-radius: 15px 15px 15px 15px;
    border: 0;
    margin: 0 10px;
    width: 920px;
    height: 500px;
    padding: 0 10px;
    background-color: white;
    position: relative;
    float:left;
    overflow: auto;
}
div.bodySignup
{
    z-index: 99;
    border-radius: 15px 15px 15px 15px;
    border: 2px solid #000000;
    margin: 20px;
    width: 963px;
    height: 400px;
    padding: 10px 10px;
    background-color: white;
    position: relative;
    float:left;
    overflow: auto;
}

div.articleSaved
{
    margin: 5px;
    padding: 5px;
    border-radius: 0 0 5px 5px;
    border-bottom: 2px solid black;
    background-color: white;
    position: relative;
}
div.article
{
    margin: 0 5px;
    padding: 0 5px;
    border-bottom: 2px solid black;
    border-radius: 0 0 10px 10px;
    background-color: white;
    position: relative;
}



div.profile
{
    margin: 2px 0;
    padding: 5px;
    background-color: white;
    overflow: hidden;
}

div.profPic
{
    float: left;
    margin: 2px 0;
    padding: 5px;
    background-color: white;
    width: 280px;
    position: relative;
}
img.profile
{
    border-radius: 5px;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

div.profBody
{

    overflow: hidden;
    margin: 2px 0;
    padding: 5px;
    background-color: white;
    position: relative;
    width: 60%;
}

h1.page
{
    font-family: verdana, monospace;
    font-size: 40px;
    color: #7f8c8d;
    text-align: center;
}

h2
{
    margin: 0;
}

h2.title
{
    vertical-align: top;

    line-height: 1;

    padding-bottom: 10px ;
    font-family: verdana, monospace;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 5px;
    color: #34495e;
    border-collapse: collapse;
}
h2.titlePost
{
    position: relative;
    padding: 10px ;
    font-family: verdana, monospace;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 5px;
    color: #7f8c8d;
    border-collapse: collapse;
}
h2.titleSaved
{
    position: relative;
    padding: 10px ;
    font-family: verdana, monospace;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 5px;
    color: #7f8c8d;
    border-collapse: collapse;
}
h2.friend
{
    position: relative;
    padding: 10px ;
    font-family: verdana, monospace;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 5px;
    color: #34495e;
    border-collapse: collapse;
    display: inline;
}

h2.rec
{
    position: relative;
    padding: 10px ;
    font-family: verdana, monospace;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 5px;
    color: #7f8c8d;
    border-collapse: collapse;
}

h3.saved
{
    font-family: verdana, monospace;
    font-size: 14px;
    color: black;
}


h3.about
{
    font-family: Verdana, monospace;
    font-size: 25px;
    color: #34495e;
}

h3.ajax
{
    font-family: verdana, monospace;
    font-size: 25px;
    color: red;
}

h3.us
{
    font-family: verdana, monospace;
    font-size: 14px;
    color: black;
}



h2.hello
{
    font-family: verdana, monospace;
    font-size: 16px;
    color: #34495e;
}

h2.as
{
    font-family: verdana, monospace;
    font-size: 20px;
    color: #7f8c8d;
    display: inline;
}


h2.rec
{
    font-family: verdana, monospace;
    font-size: 20px;
    color: #34495e;
    display: inline;
    padding-left: 2px;
}


h2.user
{
    font-family: verdana, monospace;
    font-size: 20px;
    color: #34495e;
    display: inline;
}
div.comment_title
{
    margin: 2px 5px;
    padding: 0px 15px;
    background-color: white;

}

h2.comment
{
    font-family: verdana, monospace;
    font-size: 20px;
    color: #7f8c8d;
    border-collapse: collapse;
    display: inline;
}
h3.date
{
    font-family: verdana, monospace;
    font-size: 14px;
    color: #000000;
    display: inline;
}

td.tag
{
    font-family: verdana, monospace;
    font-size: 18px;
    color: #7f8c8d;
}
td.comment
{
    font-family: verdana, monospace;
    font-size: 18px;
    color: #bdc3c7;
}

h2.profile
{
    font-family: verdana, monospace;
    font-size: 18px;
    color: #34495e;
    display: inline;

}

h2.profileInfo
{
    font-family: verdana, monospace;
    font-size: 16px;
    color: #000000;
    display: inline;
}
p.date
{
    font-family: verdana, monospace;
    font-size: 14px;
    padding: 0 10px;
}
p.saveDate
{
    font-family: verdana, monospace;
    font-size: 14px;
    margin: 0 10px;
}

p.description
{
    font-family: verdana, monospace;
    font-size: 20px;
    padding: 5px;
    margin-top: 5px;
}
p.descriptionIndex
{
    font-family: verdana, monospace;
    font-size: 20px;
    padding: 5px;
    margin-top: 5px;
}

p.descriptionPost
{
    font-family: verdana, monospace;
    font-size: 16px;
    padding: 0 10px;
    margin: 5px;
}



table.menu
{
    border-collapse: collapse;
    margin:auto;
    background-color: #34495e;
    width: 1024px;
    height: 30px;
    text-align: center;
}

table, tr
{
    color: black;
    border-radius: 15px;
    border-collapse: collapse;
}

td.menu
{
    border-collapse: collapse;
    font-family: verdana, monospace;
    font-weight: normal;
    font-size: 16px;
    width: 170px;
    text-align: center;
    border-radius: 15px;
    padding: 0;
}
td.login
{
    border-collapse: collapse;
    vertical-align:bottom;
    font-family: verdana, monospace;
    font-weight: normal;
    font-size: 16px;
    background-color: white;
    text-align: right;
    padding: 2px;
}

a.menu:link{color: white; text-decoration: none;}
a.menu:visited{color: white; text-decoration: none;}
a.menu:hover{color: #34495e;text-decoration: none;}

a.user:link{color: #34495e;text-decoration: none;}
a.user:visited{color: #34495e;text-decoration: none;}
a.user:hover{color: #34495e;text-decoration: none;}

a.friend:link{color: #34495e;text-decoration: none;}
a.friend:visited{color: #34495e;text-decoration: none;}
a.friend:hover{color: #34495e;text-decoration: none;}

a.rec:link{color: #2980b9;text-decoration: none;}
a.rec:visited{color: #2980b9;text-decoration: none;}
a.rec:hover{color: #2980b9;text-decoration: none;}

a.rss:link{color: #2980b9; text-decoration: none;}
a.rss:visited{color: #2980b9; text-decoration: none;}
a.rss:hover{color: #2980b9;text-decoration: none;}

a.comments:link{color: #7f8c8d; text-decoration: none;}
a.comments:visited{color: #7f8c8d; text-decoration: none;}
a.comments:hover{color: #7f8c8d;text-decoration: none;}

a.tag:link{color: #bdc3c7; text-decoration: none;}
a.tag:visited{color: #bdc3c7; text-decoration: none;}
a.tag:hover{color: #bdc3c7;text-decoration: none;}

h1.login
{
    color: #34495e;
    margin: 0;
    vertical-align: bottom;
    border-collapse: collapse;
    font-family: verdana, monospace;
    font-weight: bold;
    font-size: 32px;
    background-color: white;
    padding: 0;

}
h1.del
{
    color: #d02527;
    margin: 0;
    vertical-align: bottom;
    border-collapse: collapse;
    font-family: verdana, monospace;
    font-weight: bold;
    font-size: 32px;
    background-color: white;
    padding: 0;

}

h4
{
    vertical-align: bottom;
    margin: 0;
    color: #ff0000;
    border-collapse: collapse;
    font-family: verdana, monospace;
    font-size: 12px;
    background-color: white;
    text-align: center;
    padding: 0;

}
h4.admin
{
    vertical-align: bottom;
    margin: 0;
    color: #ff0000;
    border-collapse: collapse;
    font-family: verdana, monospace;
    font-size: 16px;
    background-color: white;
    text-align: center;
    padding: 0;

}

/* BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS */
.button {
    -moz-box-shadow:inset 0px -50px 0px 0px #34495e;
    -webkit-box-shadow:inset 0px -50px 0px 0px #34495e;
    box-shadow:inset 0px -50px 0px 0px #34495e;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #34495e), color-stop(1, #468ccf) );
    background:-moz-linear-gradient( center top, #34495e 5%, #468ccf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
    background-color:#34495e;
    -webkit-border-top-left-radius:10px;
    -moz-border-radius-topleft:10px;
    border-top-left-radius:10px;
    -webkit-border-top-right-radius:10px;
    -moz-border-radius-topright:10px;
    border-top-right-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    -moz-border-radius-bottomright:10px;
    border-bottom-right-radius:10px;
    -webkit-border-bottom-left-radius:10px;
    -moz-border-radius-bottomleft:10px;
    border-bottom-left-radius:10px;
    text-indent:0;
    border:1px solid #3866a3;
    display:inline-block;
    color:#ffffff;
    font-family:Verdana;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:30px;
    line-height:30px;
    width:154px;
    text-decoration:none;
    text-align:center;
    text-shadow:0px 0px 0px #7cacde;
}
.button:hover {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#224d99', endColorstr='#224d99');
    background-color: #7f8c8d;
}.button:active {
     position:relative;
     top:1px;
     background-color: #7f8c8d;
 }
/* This button was generated using CSSButtonGenerator.com */


.save {
    -moz-box-shadow:inset 0px -50px 0px 0px #34495e;
    -webkit-box-shadow:inset 0px -50px 0px 0px #34495e;
    box-shadow:inset 0px -50px 0px 0px #34495e;

    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
    background-color:#34495e;
    -webkit-border-top-left-radius:37px;
    -moz-border-radius-topleft:37px;
    border-top-left-radius:37px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:37px;
    -moz-border-radius-bottomright:37px;
    border-bottom-right-radius:37px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:0;
    border:1px solid #3866a3;
    display:inline-block;
    color:#ffffff;
    font-family:Verdana;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:30px;
    line-height:30px;
    width:83px;
    text-decoration:none;
    text-align:center;
    text-shadow:0px 0px 0px #7cacde;

}
.save:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #34495e), color-stop(1, #7cacde) );
    background:-moz-linear-gradient( center top, #34495e 5%, #7cacde 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2ab1e', endColorstr='#f0c911');
    background-color:#7cacde;
}.save:active {
     position:relative;
     top:1px;
 }
/* This button was generated using CSSButtonGenerator.com */

.delete {
    -moz-box-shadow:inset 0px -50px 0px 0px #d02527;
    -webkit-box-shadow:inset 0px -50px 0px 0px #d02527;
    box-shadow:inset 0px -50px 0px 0px #d02527;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ee5444), color-stop(1, #cf1f15) );
    background:-moz-linear-gradient( center top, #ee5444 5%, #cf1f15 100% );
    background-color:#ee5444;
    -webkit-border-top-left-radius:37px;
    -moz-border-radius-topleft:37px;
    border-top-left-radius:37px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:37px;
    -moz-border-radius-bottomright:37px;
    border-bottom-right-radius:37px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:0;
    border:1px solid #d02527;
    display:inline-block;
    color:#ffffff;
    font-family:Verdana;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:30px;
    line-height:30px;
    width:83px;
    text-decoration:none;
    text-align:center;
    text-shadow:0px 0px 0px #de7383;

}
.delete:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ee5444), color-stop(1, #cf1f15) );
    background:-moz-linear-gradient( center top, #ee5444 5%, #cf1f15 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2ab1e', endColorstr='#f0c911');
    background-color:#d02527;
}.delete:active {
     position:relative;
     top:1px;
     background-color:#d02527;
 }
/* This button was generated using CSSButtonGenerator.com */



.search {
    -moz-box-shadow:inset 0px -50px 0px 0px rgba(47, 143, 255, 0);
    -webkit-box-shadow:inset 0px -50px 0px 0px rgba(49, 142, 255, 0);
    box-shadow:inset 0px -50px 0px 0px rgba(48, 142, 255, 0);
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, rgba(105, 198, 255, 0)), color-stop(1, rgba(86, 172, 255, 0)) );
    background:-moz-linear-gradient( center top, rgba(105, 197, 255, 0) 5%, rgba(86, 172, 255, 0) 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
    background-color: rgba(105, 197, 255, 0);
    -webkit-border-top-left-radius:10px;
    -moz-border-radius-topleft:10px;
    border-top-left-radius:10px;
    -webkit-border-top-right-radius:10px;
    -moz-border-radius-topright:10px;
    border-top-right-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    -moz-border-radius-bottomright:10px;
    border-bottom-right-radius:10px;
    -webkit-border-bottom-left-radius:10px;
    -moz-border-radius-bottomleft:10px;
    border-bottom-left-radius:10px;
    text-indent:0;
    border:1px solid rgba(86, 161, 255, 0);
    display:inline-block;
    color: rgba(255, 255, 255, 0);
    font-family:Verdana;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:0;
    line-height:0;
    width:0;
    padding: 0;
    text-decoration:none;
    text-align:center;
    text-shadow:0px 0px 0px rgba(143, 198, 255, 0);
}
.search:hover {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#224d99', endColorstr='#224d99');
    background-color: rgba(52, 132, 255, 0);
}.search:active {
     position:relative;
     top:1px;
     background-color: rgba(57, 135, 255, 0);
 }
/* This button was generated using CSSButtonGenerator.com */


.friendButton {
    -moz-box-shadow:inset 0px -50px 0px 0px #34495e;
    -webkit-box-shadow:inset 0px -50px 0px 0px #34495e;
    box-shadow:inset 0px -50px 0px 0px #34495e;

    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
    background-color:#34495e;
    -webkit-border-top-left-radius:10px;
    -moz-border-radius-topleft:10px;
    border-top-left-radius:10px;
    -webkit-border-top-right-radius:10px;
    -moz-border-radius-topright:10px;
    border-top-right-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    -moz-border-radius-bottomright:10px;
    border-bottom-right-radius:10px;
    -webkit-border-bottom-left-radius:10px;
    -moz-border-radius-bottomleft:10px;
    border-bottom-left-radius:10px;
    text-indent:0;
    border:1px solid #34495e;
    display:inline-block;
    color:#ffffff;
    font-family:Verdana;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:30px;
    line-height:30px;
    width:154px;
    text-decoration:none;
    text-align:center;
    text-shadow:0px 0px 0px #7cacde;
}
.friendButton:hover {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#224d99', endColorstr='#224d99');
    background-color:#34495e;
}.friendButton:active {
     position:relative;
     top:1px;
     background-color:#34495e;
 }
/* This button was generated using CSSButtonGenerator.com */

.unfriendButton {
    -moz-box-shadow:inset 0px -50px 0px 0px #d02527;
    -webkit-box-shadow:inset 0px -50px 0px 0px #d02527;
    box-shadow:inset 0px -50px 0px 0px #d02527;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ee5444), color-stop(1, #cf1f15) );
    background:-moz-linear-gradient( center top, #ee5444 5%, #cf1f15 100% );
    background-color:#ee5444;
    -webkit-border-top-left-radius:10px;
    -moz-border-radius-topleft:10px;
    border-top-left-radius:10px;
    -webkit-border-top-right-radius:10px;
    -moz-border-radius-topright:10px;
    border-top-right-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    -moz-border-radius-bottomright:10px;
    border-bottom-right-radius:10px;
    -webkit-border-bottom-left-radius:10px;
    -moz-border-radius-bottomleft:10px;
    border-bottom-left-radius:10px;
    text-indent:0;
    border:1px solid #d02527;
    display:inline-block;
    color:#ffffff;
    font-family:Verdana;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:30px;
    line-height:30px;
    width:154px;
    text-decoration:none;
    text-align:center;
    text-shadow:0px 0px 0px #de7383;
}
.unfriendButton:hover {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#224d99', endColorstr='#224d99');
    background-color:#d02527;
}.unfriendButton:active {
     position:relative;
     top:1px;
     background-color:#d02527;
 }
/* This button was generated using CSSButtonGenerator.com */




img.logo
{
    position:absolute;
    left:0;
    top:0;
    z-index:9999;
}




/* MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU */
nav
{
    z-index: 5000;
    margin: 75px auto;
    width: 1024px;
    text-align: center;
    border-collapse: collapse;
    padding: 0;
}


nav ul li:hover > ul
{
    z-index: 5000;
    display: block;
    height: 40px;
}


nav ul
{
    z-index: 5000;
    background: #d02527;
    margin: 0;
    font-family: verdana, monospace;
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
    list-style: none;
    position: relative;
    display: inline-table;
}
ul.red
{
    z-index: 5000;
    background: #d02527;
    margin: 0;
    font-family: verdana, monospace;
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
    list-style: none;
    position: relative;
    display: inline-table;
}

nav ul:after
{
    content: "";
    clear: both;
    display: block;
}

nav ul li
{
    z-index: 5000;
    float: left;
    width: 256px;
    background-color: #d02527;
    border-radius: 15px;

    padding: 0;
    border-collapse: collapse;


}
nav ul li:hover
{
    z-index: 5000;
    background: #7f8c8d;
    border-radius: 15px;
}

nav ul ul
{
    z-index: 5000;
    display: none;
    height: 40px;
    padding: 0;
}

nav ul li:hover a
{
    z-index: 5000;
    color: #fff;
    padding: 10px 0;
    border-collapse: collapse;
}

nav ul li a
{
    z-index: 5000;
    display: block;
    padding: 10px 0;
    color: #ffffff;
    text-decoration: none;
}


nav ul ul
{
    z-index: 5000;
    background: #d02527;
    padding: 0;
    position: absolute;
    top: 100%;
}

nav ul ul li
{
    float: none;
    width: 256px;
    font-family: verdana, monospace;
    z-index: 1052;
    background-color: #bdc3c7;
    position: relative;
}

nav ul ul li a
{
    z-index: 5000;
    color: #fff;
}

nav ul ul ul
{
    position: absolute;
    left: 100%;
    top:0;

}



/* COMMENTS COMMENTS COMMENTS COMMENTS COMMENTS COMMENTS COMMENTS COMMENTS COMMENTS COMMENTS COMMENTS COMMENTS */
div.comment
{
    margin: 2px 20px;
    padding: 0px 15px;
    background-color: white;
    border-left: 5px solid #34495e;
    border-bottom: 1px solid #34495e;
    border-radius: 0 0 10px 10px;

}


table.comment{
    padding-left: 80px;
    margin-left: auto;
    margin-right: auto;
}
textarea {
    width:600px;
    padding: 3px;
    border: 1px solid;
    resize: none;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
}

textarea.comment
{
    display: block;
    margin: 5px auto;
    border-color: #7f8c8d;
    font-family: verdana, monospace;
}

p.comment
{
    font-family: verdana, monospace;
    padding-left: 46px;
    padding-top: 2px;
    margin: 0;
}

hr.comment{
    height: 1px;
}

input.login
{
    font-family: verdana, monospace;
}

table.article
{
    background-color:#ffffff;
    width:100%;
    cellpadding:0;
    cellspacing:3;
}

div.fadehover {

    position: absolute;
    margin-top: 10px;
    margin-left: 20px;
    border-collapse: collapse;
}
img.a {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    border-collapse: collapse;
}

img.b {
    position: absolute;
    left: 0;
    top: 0;
    border-collapse: collapse;
}

input.searchBar {
    -moz-box-shadow:inset 0px -50px 0px 0px #34495e;
    -webkit-box-shadow:inset 0px -50px 0px 0px #34495e;
    box-shadow:inset 0px -50px 0px 0px #34495e;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #34495e), color-stop(1, #468ccf) );
    background:-moz-linear-gradient( center top, #34495e 5%, #468ccf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
    background-color:#63b8ee;
    -webkit-border-top-left-radius:10px;
    -moz-border-radius-topleft:10px;
    border-top-left-radius:10px;
    -webkit-border-top-right-radius:10px;
    -moz-border-radius-topright:10px;
    border-top-right-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    -moz-border-radius-bottomright:10px;
    border-bottom-right-radius:10px;
    -webkit-border-bottom-left-radius:10px;
    -moz-border-radius-bottomleft:10px;
    border-bottom-left-radius:10px;
    text-indent:0;
    border:0;
    display:inline-block;
    color:#ffffff;
    font-family:Verdana;
    font-size:20px;

    font-style:normal;
    height:40px;
    line-height:30px;
    width:340px;
    text-decoration:none;
    text-align:center;
    padding: 0 4px;
    margin: 5px 40px 10px 0;

}


select
{
    font-size: 14px;
}

select.send
{
    font-size: 16px;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

div.rec
{
    margin: 0 10px;
    background-color: #ffffff;


}


